# python of any version of python3 is required
# Flask 2.0.2
use <pip install Flask> to install
# Flask-SQLAlchemy 2.5.1
use <pip install beautifulsoup4> to install
# PyJWT  2.3.0 
use <pip install pyjwt> to install
# if you have got psycopg2 error, try to use <pip install psycopg2-binary> command
